* {
    font-family: "Azeret Mono", monospace;
}

body {
    margin: 0;
    scroll-behavior: smooth;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 10rem;
    padding: 0px;
}
header h1 {
    margin: 0px;
    font-size: 28px;
    font-weight: 800;
    text-align: left;
}

header button {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 17px 24px;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
}


.cover {
    text-align: center;
    background-image: url('assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 652px;
    width: 100%;
}

.cover h2,
.cover p,
.cover img {
    margin: 30px 221px;
}

.cover h2 {
    font-size: 48px;
    font-weight: 800;
}

.cover button {
    padding: 21px 24px;
    background-color: black;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 20px; 
    font-weight: 600;
}

.cover a{
    color: white;
    text-decoration: none;
}


main {
    margin: 0px 150px;
}

.container {
    margin: 74px 0px;
    padding: 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
    text-align: center;
    color: #0D1321;
}

.container h2 {
    font-size: 32px;
    font-weight: 800;
}

.container {
    margin-bottom: 48px;
}


.reasonone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 48px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    border-radius: 16px;
}

.cards p {
    width: 468px;
    margin: 12px 0px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
}

.cards h3 {
    margin: 15px 0px;
    width: 390px;
    font-family: "B612 Mono", monospace;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
}


.cards a {
    display: inline-block;
    margin: 12px 0px;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #0D1321;
    border: 1px solid rgb(13, 19, 33);
    background-color: transparent;
}

.reasontwo {
    display: flex;
    text-align: left;
    padding: 48px;
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    border-radius: 16px;
    margin: 32px 0px;
}

.twowrite {
    margin-left: 32px;
}

.twowrite h3 {
    width: 477px;
}

.contenhead {
    text-align: center;
    margin: 0px 144px ;

}

.contenhead h2 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    color: #0D1321;
}

.contenhead p {
    margin-top: 24px;
    margin-bottom: 48px;
    text-align: center;
    color: #0D1321;
}

.video-container {
    padding: 32px;
    border: 2px solid #0D1321;
    border-radius: 16px;
}

.video-container iframe {
    width: 1140px;
    height: 641px;
    border: 0px solid #0D1321;
    border-radius: 16px;
}


.target{
    margin-top: 150px ;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px ;
}

.skillcard {
    display:inline-block;
    padding: 40px ;
    border-radius: 16px;
}

.skillcard h2 {
    font-size: 24px ;
    font-weight: 800;
}

.skillcard a {
    font-size: 16px;
    font-weight: 700;
    color: #0D1321;
}

.skillcard p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
}

.html {
    background-color: rgba(255, 76, 30, 0.05);
}

.css {
    background-color: rgba(0, 76, 232, 0.05);
}

.js {
    background-color: rgba(255, 223, 0, 0.05);
}

.nexttarget{
    margin-top: 111px ;
}

.nextskill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.nxtcard {
    display: flex;
    align-items: center;
    padding: 40px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
}

.skillist {
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 1060px ;
    padding: 0px;
    margin-left:24px;
}

.skillist h2 {
    margin: 0px;
}

.support {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 47px 0px 79px 0px ;
    background-image: url("assets/handshake.jpg");
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
    height: 314px;
    border-radius: 16px ;
}


.supportform {
    margin: 0px 205px;
    display: inline-block;
    justify-content: center;
    align-items: center ;
    text-align: center;
    color: white;
}

.supportform h2 {
    margin: 0px 0px;
    font-family: "B612 Mono", monospace;
    font-size: 32px;
    font-weight: 700;
}

.supportform p {
    margin: 24px 85px ;
    font-size: 16px ;
    font-weight: 400 ;
    opacity: 70%;
}

form input,form button{
    background-color: white;
    border: none;
    border-radius: 8px;
}

form input {
    padding: 20px ;
    width: 548px;

}

form button {
    font-size: 20px;
    font-weight: 600;
    padding: 17px 20px ;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 150px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(13, 19, 33, 0.03);
}

.footer p {
    margin: 0px ;
}